* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary: rgb(245, 239, 239);
    --secondary:
}

.stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.return-home {
    font-size: 40px;
    font-weight: bold;
    padding: 40px;
}

.nav {
    width:50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li a {
    font-size: 20px; 
    padding: 30px 30px;
    color: var(--primary);
}

select {
    font-size: 22px;
    overflow-y: scroll;
    
}

#teams {
    font-size: 20px;
    width:100%;
}


.league-teams {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    padding: 80px 0px; 
    margin: 40px;
}

.standings-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

/* .standings-info {
    
} */
.upcoming-info {
    padding-bottom: 100px;
    width:80%;
}

.content-title {
    font-size: 20px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    border-bottom: 2px solid #000000; 
}
.stats-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000000;
    font-size: 20px;
    padding-top:40px;
}

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.stats-info {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}


.stats-column {
    width:100%;
    padding-bottom: 80px;
}


/* Hide content */
.hide {
    display: none; 
}