:root {
    --primary: rgb(245, 239, 239);
    --secondary:

}


header h1 {
    font-size: 50px;
    display: inline;
    padding: 0 20px;
    width: fit-content;
    background-repeat: no-repeat;
}

header a {
    font-weight: bold; 
    text-decoration: none;
    color: var(--primary);
}

input {
    float: right;
    margin: 0 50px;
    width: 300px;
}

/* button {
    float: right;
} */

header nav {
    float: right;
    margin: 7 px 0;
}

header nav ul {
    display: inline-flexbox;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a {
    padding: 50px;
    font-size: 24px;
    color: var(--primary);
}

header nav ul li a:hover {
    color: lightgrey
}

header .search {
    background-color: transparent;
    border-radius: 5px; 
}

header .search:hover {
    background-color: lightslategray;
    font: white;
}

#live-score {
   
    
}
#main-video {
   
}


